body{
    background-color: rgb(228, 225, 225);
}

.container{
    border: none;
    background-color: rgba(199, 196, 196, 0.438);
}

.col2{
    background-color: rgb(142, 31, 206);
}

.col3{
    background-color: rgb(238, 89, 101);
}

.col4{
    background-color: rgb(25, 112, 128);
}

.col5{
    background-color: rgb(78, 78, 199);
}

.text{
    margin-left: 60px;
}

.containerf{
    background-color: #e8fcfc;
}

h2{
    color: blue;
}

.btn{
    width: 100px;
    font-size: 15px;
    margin-bottom: 100px;
}

.col7{
    margin: -8px;
}

.col8{
    margin-left: 15px;
}

.title{
    margin-top: -30px;
}

.card{
    border: none;
    box-shadow: 1px 3px 4px 3px #e4e1e1;
}